html{
    background-color: #F6F6F2;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Custom Font' ;
    src: url('assets/fonts/Lovelo\ Black.otf') format('otf');
}


ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 25px;

}

.logo{
    padding: 0px;
    margin: 0px;
    width: 100px;
    margin-right: 10px;
}

.nav{
    
        background: #F6F6F2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
    
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
   padding: 25px;

}

.container{
    display: flex;
    align-items: center;
}

.title{
    color: #0f606b;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Custom Font';
}

.login-button{
    border-radius: 25px;
    background-color: #388087;
    border-radius: 87px;
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.login-button:hover{
    background-color: rgb(187, 176, 154)
}

.picture{
    float: right;
    width: 1253;
    height: 810;
    padding-bottom: 30px;
}

.tagline{
    color: #0F606B;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.option{
    color:#388087;
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
}

.donate-button{
    border-radius: 25px;
    background-color: #388087;
    border-radius: 87px;
    border: none;
    padding: 10px 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 275px;
    margin-bottom: 100px;
}

.donate-button:hover{
    background-color: rgb(187, 176, 154)
}

.receive-button{
    border-radius: 25px;
    background-color: #388087;
    border-radius: 87px;
    border: none;
    padding: 10px 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
    
}

.receive-button:hover{
    background-color: rgb(187, 176, 154)
}

.heading{
    margin-top: 250px;
    text-align: center;
    color: #0f606b;
    font-size: 45px;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

.row {
    margin: 0 -5px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
   
  }
  
  .card img {
    max-width: 100%;
  }
  
  .card-content {
    padding: 15px;
    color: #388087;
  }
  
  .card h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 10px 0;
  }
  
  .card a {
    display: block;
    text-align: center;
    padding: 5px 0;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 3px;
  }
  
  .card a:hover {
    background-color: #0056b3;
  }
  
.footer{
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0F606B;
    justify-content: center;
    align-items: center;
    height: 330px;
    }

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h2{
    font-size: 2.1rem;
    text-transform: capitalize;
    color: #d5eaed;
    margin-bottom: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.footer-content p{
    line-height: 35px;
    font-size: 20px;
    color: #cacdd2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.soc{
    height: 30px;
    width: 30px;
    padding: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
 }


