html{
    background-color: #F6F6F2;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Custom Font' ;
    src: url('assets/fonts/Lovelo\ Black.otf') format('otf');
}


ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 25px;

}

.logo{
    padding: 0px;
    margin: 0px;
    width: 130px;
    margin-right: 10px;
}

.nav{
    
        background: #F6F6F2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
    
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
   padding: 25px;

}

.container{
    display: flex;
    align-items: center;
}

.title{
    color: #0f606b;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Custom Font';
}

.login-button{
    border-radius: 25px;
    background-color: #388087;
    border-radius: 87px;
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.login-button:hover{
    background-color: rgb(187, 176, 154)
}

.picture{
    float: right;
    width: 1253;
    height: 810;
}

.tagline{
    color: #0F606B;
    font-size: 40px;
    padding-left: 35px;
    font-weight: bold;
}

.option{
    color:#388087;
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
}

.donate-button{
    border-radius: 25px;
    background-color: #388087;
    border-radius: 87px;
    border: none;
    padding: 10px 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 275px;
}

.donate-button:hover{
    background-color: rgb(187, 176, 154)
}

.receive-button{
    border-radius: 25px;
    background-color: #388087;
    border-radius: 87px;
    border: none;
    padding: 10px 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
    
}

.receive-button:hover{
    background-color: rgb(187, 176, 154)
}